ServicioWindows/WindowsServiceCustomers/Service References/ServicioCustomers/WS_Customers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.praxair.com.co/WS_Customers/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.praxair.com.co/WS_Customers/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.praxair.com.co/WS_Customers/Imports">
      <xsd:import schemaLocation="http://10.104.0.31/Servicios/WS_Customers/WS_Customers.svc?xsd=xsd0" namespace="http://www.praxair.com.co/WS_Customers/" />
      <xsd:import schemaLocation="http://10.104.0.31/Servicios/WS_Customers/WS_Customers.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.104.0.31/Servicios/WS_Customers/WS_Customers.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWS_Customers_Confirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirmation" />
  </wsdl:message>
  <wsdl:message name="IWS_Customers_Confirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IWS_Customers_Get_Customers_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Customers" />
  </wsdl:message>
  <wsdl:message name="IWS_Customers_Get_Customers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_CustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IWS_Customers">
    <wsdl:operation name="Confirmation">
      <wsdl:input wsaw:Action="http://www.praxair.com.co/WS_Customers/IWS_Customers/Confirmation" message="tns:IWS_Customers_Confirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.praxair.com.co/WS_Customers/IWS_Customers/ConfirmationResponse" message="tns:IWS_Customers_Confirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Customers">
      <wsdl:input wsaw:Action="http://www.praxair.com.co/WS_Customers/IWS_Customers/Get_Customers" message="tns:IWS_Customers_Get_Customers_InputMessage" />
      <wsdl:output wsaw:Action="http://www.praxair.com.co/WS_Customers/IWS_Customers/Get_CustomersResponse" message="tns:IWS_Customers_Get_Customers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>