AppDisparadorCustomers/Web References/ServicioCustomers/WS_Customers0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.praxair.com.co/customer" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WS_Customers" targetNamespace="http://www.praxair.com.co/customer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:52695/WS_Customers.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.praxair.com.co/customer/Imports">
      <xsd:import schemaLocation="http://localhost:52695/WS_Customers.svc?xsd=xsd0" namespace="http://www.praxair.com.co/customer" />
      <xsd:import schemaLocation="http://localhost:52695/WS_Customers.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52695/WS_Customers.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWS_Customers_Confirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirmation" />
  </wsdl:message>
  <wsdl:message name="IWS_Customers_Confirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IWS_Customers_Get_Customers_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Customers" />
  </wsdl:message>
  <wsdl:message name="IWS_Customers_Get_Customers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_CustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IWS_Customers">
    <wsdl:operation name="Confirmation">
      <wsdl:input wsaw:Action="http://www.praxair.com.co/customer/IWS_Customers/Confirmation" message="tns:IWS_Customers_Confirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.praxair.com.co/customer/IWS_Customers/ConfirmationResponse" message="tns:IWS_Customers_Confirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Customers">
      <wsdl:input wsaw:Action="http://www.praxair.com.co/customer/IWS_Customers/Get_Customers" message="tns:IWS_Customers_Get_Customers_InputMessage" />
      <wsdl:output wsaw:Action="http://www.praxair.com.co/customer/IWS_Customers/Get_CustomersResponse" message="tns:IWS_Customers_Get_Customers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="WS_Customers">
    <wsdl:port name="BasicHttpBinding_IWS_Customers" binding="i0:BasicHttpBinding_IWS_Customers">
      <soap:address location="http://localhost:52695/WS_Customers.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>